streamlit
numpy
langchain
langchain-openai
langchain-community
python-dotenv
tavily-python
openai
aiohttp
pydantic
langchain-teddynote
pytz
sentence-transformers
chromadb
pdf2image
pytesseract
nest_asyncio
langchain_huggingface
accelerate
faiss-cpu
uvicorn
fastapi
python-multipart
pymongo
gridfs
pandas
openpyxl
keybert